@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --default-text-color: rgb(0, 0, 0); /* Default text color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --default-text-color: rgb(255, 255, 255); /* Default text color for dark mode */
  }
}

body {
  color: var(--default-text-color); /* Use default text color */
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Ensure input, select, and textarea fields have the correct text color 
.input-custom, .select-custom, .textarea-custom {
  color: var(--default-text-color) !important;
  background-color: white !important;
}
*/
/* Custom styles for datepicker 
.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input,
.react-datepicker {
  color: var(--default-text-color) !important;
  background-color: white !important;
}
*/
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
